.dashboardHomeScreen {
  background-color: #e8f3fc;
  padding: 28px 24px;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  gap: 20px;
}

.mainContent {
  flex: 1;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

@media (width <= 991px) {
  .dashboardHomeScreen {
    padding-left: 20px;
  }

  .contentWrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }

  .contentContainer {
    margin-top: 40px;
  }
}
